@font-face {
  font-family: "Cousine";
  src: url("fonts/Cousine-Regular.ttf");
}
@font-face {
  font-family: "Cousine Bold";
  src: url("fonts/Cousine-Bold.ttf");
}

body {
  background-color: #FFFFFF;
  ;
  font-family: Cousine;
}

div.projectTag {}

div.projectTag p {
  margin: 0;
  margin-left: .3em;
}

div.projectTag h5 {
  margin-top: .4em;
  margin-bottom: 0;
  margin-left: .3em;
}

a {
  color: black;
}

@media screen and (max-width: 1200px) {
  div#sideMenu {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  div#sideMenu div {
    text-align: left;
    padding-right: 1em;
    border-left-style: solid;
    border-width: 5px;
  }

  div#bio {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 1200px) {
  div#sideMenu {
    padding-top: 4em;
  }

  div#sideMenu div {
    text-align: left;
    padding-right: 1em;
    border-right-style: solid;
    border-width: 5px;
  }

  div#bio {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

div.content {
  padding-top: 3em;
  text-align: justify;
}

div#content {
  padding-left: 10%;
}

div#content p {
  #text-indent: 2em;
}

p#datetime {
  text-align: right;
  color: grey;
  font-size: .8em;
}

div#sideProjects {
  margin-bottom: 2em;
}

div#publications {
  margin-bottom: 2em;
}

div#education {
  margin-bottom: 2em;
}

div#contacts {
  margin-bottom: 2em;
}

div#curriculum {
  margin-bottom: 2em;
}

div#bio p {
  padding-top: 0em;
  text-align: justify;
}

div.compositListCompanyName p {}

div.compositListJobRole p {}

div.compositListTimePeriod div {
  float: right;
}

div.compositListJobDescription p {
  text-indent: 0em;
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 0em;
}

div.compositListElement div.row {
  margin-top: 0;
  margin-bottom: 0;
}

div.compositListElement {
  margin-bottom: 1em;
}

div.snapshotFrame {
  margin-bottom: 1em;
  padding: 4em;
}

a.navbar-brand{
  font-family: "Cousine Bold";
  font-size: 2em;
  padding: 0 1em;
}
div.navbar-fixed {
  position:absolute;
  top:0;
  z-index:999999999;
}
nav{
  background: rgb(66,66,66, .7);
}

div.moreContent{
  text-align: right;
  margin-top: 1em;
}

div.topProjects{
  margin-bottom:0;
}
div.row{
  margin-bottom: 0;
}

div ul{
  margin:0;
}
