<!-- navbar -->
<div class="hide-on-med-and-down">
  <nav class="nav-wraper black">
    <div class="container nav-container">
      <div class="row">
        <div class="col s12 m12 l12 xl12">
          <a href="{{site.baseurl}}/index.html" style="font-size:2em;">Hausen</a>
          <ul class="right">
            <li><a href="{{site.baseurl}}/index.html">About</a></li>
            <li class="hide"><a href={{site.baseurl}}/nav-wraper "blog.html">Posts</a></li>
            <li><a href="{{site.baseurl}}/workshops.html">Workshops</a></li>
            <li class="hide"><a href="#topProjects">Projects</a></li>
            <li class=""><a href="{{site.baseurl}}/resume.html">Resumé</a></li>
            <li class=""><a href="{{site.baseurl}}/contacts.html" style="padding-right:0;">Contacts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>


<!-- level 1 -->
<div class="hide-on-large-only">
  <nav class="nav-wraper black">
    <div class="container nav-container">
      <div class="row">
        <div class="col s12 m12 l12 xl9">
          <a href="{{site.baseurl}}/index.html" style="font-size:2em;">Victor Hausen</a>
          <ul class="right">
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- level 2 -->
  <nav class="nav-wraper black">
    <div class="container nav-container">
      <div class="row">
        <div class="col s12 m12 l12 xl9">
          <ul class="right">
            <li><a href="{{site.baseurl}}/index.html">About</a></li>
            <li  class="hide"><a href="{{site.baseurl}}/blog.html">Posts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- level 3 -->
  <nav class="nav-wraper black">
    <div class="container nav-container">
      <div class="row">
        <div class="col s12 m12 l12 xl9">
          <ul class="right">
            <li><a href="{{site.baseurl}}/workshops.html">Workshops</a></li>
            <li class="hide"><a href="#topProjects">Projects</a></li>
            <li class=""><a href="{{site.baseurl}}/contacts.html" style="padding-right:0;">Contacts</a></li>
            <li class=""><a href="{{site.baseurl}}/resume.html">Resumé</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
