<div id="bio" class="row section">
  <div class="col s12 m12 l12 xl9" style="padding:0;">
      {% for image in site.static_files %}
        {% if image.path == '/assets/images/victor_hausen.jpeg'%}
          <img src="{{ image.path }}" alt="profile_picture" width="30%" height="auto" align='right' style="margin-left: 2em; margin-top:1em;" class="z-depth-2">
        {% endif %}
      {% endfor%}
    <h5>Hey, I'm Hausen!</h5>
    <p>I'm based in Curitiba, Brazil. I will be majoring in Political Science in about a semester from now. My main interests in Data Science and programming are how to use Computer Vision, and Data Analytics in order to close the gap between Social Sciences
      and technology in order to produce tangible solutions.</p>
    <p></p>
  </div>
</div>
